main {
	margin: 0;
	width: 100%;
	max-width: 1000px;
	overflow: scroll;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (min-width: 768px){
	main{
		margin: 2rem auto;
		width: 90%;
	}
}