.game-board {
	/* width: 900px;
	height: 850px; */
	background: #EF9859;
	flex: 3 1 480px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

@media only screen and (min-width: 768px){
	.game-board {
		padding: 2rem;
	}
}