.square{
	width: 10%;
	background-color: white;
	color: black;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	padding: 0.1rem;
	box-sizing: border-box;
}

.square.called{
	background-color: #8FFF00;
	color: black;
}

.square.last{
	background-color: #FF6B00;
	color: #FFFFFF;
	border: 3px solid #B0520D;
}
 
@media only screen and (min-width: 768px){
	.square{
		font-size: 1.5rem;
	}
}


